services:
  redis:
    image: redis:7.2
    container_name: redis_server
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    ports:
      - "6379:6379"
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
      - redis_data:/data
    restart: always
    networks:
      - app-network

volumes:
  redis_data:

networks:
  app-network:
    external: true